node_modules/
.DS_Store
*.log
.env
.env.*
dist/
build/
.gradle/
*.iml
.idea/
Pods/
DerivedData/
*.xcworkspace
xcuserdata/
.expo/
android/app/build/
android/.gradle/
android/build/
ios/build/
ios/Pods/
